@font-face {
  font-family: Futura;
  src: url(./Futura-Bold.ttf);
}
@font-face {
  font-family: Gilroy;
  src: url(./Gilroy-Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}

*::selection {
  color: #fff;
  background-color: #000;
}
::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-thumb {
  width: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #f7f7f7;
}
#nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;

  position: fixed;
  z-index: 1000;
  padding: 25px;
}
#nav-part1 {
  height: 83px;
  overflow: hidden;
}
#nav-part1 svg {
  display: block;
}
#links {
  padding: 10px;
}
#icons {
  padding: 10px;
  border-radius: 50px;
  background-color: #f7f7f7;
}

#nav #nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
#nav #nav-part2 #links a {
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  font-weight: 400;
  font-size: 14px;
  margin-right: 20px;
}
#nav #nav-part2 #icons i {
  font-size: 18px;
  margin: 0 20px;
  font-weight: 100;
}
.cursor {
  width: 300px;
  height: 300px;
  background-color: #f7f2ec;
  border-radius: 50%;
  position: fixed;
  z-index: -11;
  transform: translate(-50%, -50%) scale(0);
}
#page1 {
  min-height: 100vh;
  position: relative;
  width: 100vw;
  padding: 0 1vw;
  padding-top: 19vh;
}
#page1 h1 {
  font-size: 15.8vw;
  text-transform: uppercase;
  font-family: Futura;
  line-height: 14vw;
  letter-spacing: -8px;
}
#video-container {
  height: 100vh;
  width: 100%;
  margin-top: 1vw;
  position: relative;
}
#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#video-container #play {
  padding: 3vw 2.2vw;
  background-color: black;
  color: #fff;
  font-size: 1.3vw;
  position: fixed;
  text-transform: uppercase;
  font-family: futura;
  border-radius: 50%;
  opacity: 0;
  transform: (-50%, -50%);
  scale: 0;
}
#page2 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 3vw 1vw;
  justify-content: space-between;
}
span {
  font-weight: bold;
}

#page2 .elem {
  height: 100%;
  width: 31%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page2 .elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.1;
}

#page2 .elem .dets {
  height: 50px;
  border-radius: 50px;
  width: 50%;
  position: absolute;
  z-index: 9;
  background-color: #e2cfbf;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  transition: height 1s;
}
#page2 .elem .dets i {
  font-size: 16px;
}
.page2-extended {
  margin: 4vw 3vw 1vw;
  padding-bottom: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

#page3 {
  min-height: 130vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.child {
  height: 55vh;
  width: 40vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.child img {
  height: 90%;
}
#page4-extended {
  height: 50vh;
  width: 100vw;
  padding: 3vw 1vw;
  display: flex;
}
#page4-extended h1 {
  text-transform: uppercase;
  font-family: Futura;
  font-size: 7.5vh;
  line-height: 6vw;
}
#page4-extended .left {
  width: 70%;
}
#page4-extended .right {
  width: 30%;
  margin-right: 40px;
}

#page4-extended .right p {
  margin-bottom: 32px;
  text-align: justify;
  font-size: larger;
}
.items1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  cursor: pointer;
}
.item {
  margin: 0 20px;
  width: 200px;
  height: 170px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2vw 1vw;
  margin-bottom: 20px;
}
.item .circle {
  border: 1px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: transparent;
}
.item h6 {
  margin-top: 1.5vw;
  font-size: 2vw;
  font-weight: 300;
}
.page-4 {
  height: 100vh;
  display: flex; 
  align-items: center;
  justify-content: top;
  flex-direction: column;
  overflow: hidden;
}
.page-4-main {
  width: 70vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.page-4-main h2 {
  line-height: 1;
  font-size: 5vw;
  font-family: futura;
}
.btn {
  display: block;
  margin-top: 2vw;
  font-size: 1.3vw;
  font-family: futura;
  color: #fff;
  background-color: #000;
  padding: 1vw 2vw;
  border-radius: 30px;
  cursor: pointer;
}
.page-4-main p {
  margin-top: 20px;
  font-size: 19.5px;
}
#page-5 {
  width: 100%;
  min-height: 100vh;
  padding: 4vw 3vw;
  display: flex;
  justify-content: space-between;
}
.page-5-left {
  width: 30vw;
  margin-right: 3vw;
}
.page-5-img {
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.page-5-right {
  width: 70vw;
  gap: 30px;
  display: flex;
  justify-content: space-between;
}
.page-5-right .page-5-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-5-left h2 {
  font-size: 2vw;
  font-family: futura;
  margin-bottom: 2vw;
}
.page-5-left p {
  font-size: 1.2vw;
  margin-bottom: 2vw;
}
.email-collector {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(0, 0, 0, 0.548);
}
#page-6 {
  width: 100%;
  padding: 4vw 3vw;
}
#page-6 > p {
  width: 70vw;
  font-size: 1vw;
  text-align: center;
  margin: 3vw auto 1vw;
}
.feedback-msg {
  color: red;
  text-transform: uppercase;
}
.page-6-bottom-section {
  width: 100%;
  margin: 5vw 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.email-collector input {
  width: 80%;
  padding: 10px 0px;
  font-size: 3vw;
  font-family: futura;
  text-transform: uppercase;
  color: black;
  background-color: #f7f7f7;
  outline: none;
  border: none;
}
.email-collector i {
  font-size: 2vw;
  cursor: pointer;
  user-select: none;
}
.page-6-bottom-1 h2 {
  font-size: 1.6vw;
  font-family: futura;
  color: #333;
}
.page-6-bottom-1 ul {
  list-style: none;
}
.page-6-bottom-2 img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
.page-6-bottom-3 h2 {
  font-size: 1.6vw;
  font-family: futura;
  color: #333;
}
.page-6-bottom-3 ul {
  list-style: none;
}
@media (max-width: 1000px) {
  #page-6 > p {
    width: 70vw;
    font-size: 2vw;
    text-align: center;
    margin: 3vw auto 1vw;
  }
  .page-6-bottom-2 img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
  }
  .ass {
    margin-bottom: 50px;
  }
  #page-5 {
    min-height: 70vh;
    padding: 4vw 1vw;
    flex-direction: column-reverse;
    justify-content: center;
    overflow-x: hidden;
  }
  .page-5-left {
    width: 100%;
    margin-right: 0;
    margin-top: 3vw;
  }
  .page-5-right {
    width: 100%;
    gap: 10px;
    display: flex;
    justify-content: space-between;
  }
  .page-5-img {
    width: 49%;
    height: 100%;
    overflow: hidden;
  }
  .page-5-left p {
    font-size: 3vw;
    margin-bottom: 4vw;
  }
  .page-4 {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-evenly;
  }
  .page-5-left h2 {
    font-size: 6vw;
    font-family: futura;
    margin-bottom: 2vw;
  }
  #page1 {
    min-height: 70vh;
    width: 100%;
    padding: 0 3vw;
    padding-top: 25vh;
  }
  #page1 h1 {
    font-size: 15.5vw;

    letter-spacing: -3px;
  }
  #video-container {
    height: 25vh;

    margin-top: 3vw;
  }
  #video-container #play {
    padding: 9.5vw 7.2vw;
    color: #fff;
    font-size: 5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    font-family: futura;
    border-radius: 50%;
    opacity: 1;
    scale: 1;
    transform: translate(-50%, -50%);
  }
  #page2 {
    min-height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    padding: 5vw 3vw;
    flex-direction: column;
    justify-content: space-between;
  }
  #page2 .elem {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin-bottom: 3vw;
  }
  #page4-extended {
    height: 50vh;
    width: 100vw;
    padding: 3vw 1vw;
    display: flex;
    flex-direction: column;
  }
  #page4-extended h1 {
    text-transform: uppercase;
    font-family: Futura;
    font-size: 5.5vh;
    line-height: 10.5vw;
    margin-bottom: 40px;
  }
  #page4-extended .left,
  #page4-extended .right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #page4-extended .right {
    flex-direction: column;
  }

  #page4-extended .right p {
    text-align: center;
    font-size: 25px;
  }

  #page3 {
    min-height: 120vh;
    width: 100%;
    margin-bottom: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .child {
    height: 55vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    flex-direction: column;
    text-align: center;
  }
  .child img {
    height: 100%;
  }
  #page4-extended {
    height: 50vh;
    width: 100vw;
    padding: 3vw 1vw;
    display: flex;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  #page4-extended h1 {
    text-transform: uppercase;
    font-size: 5vh;
    line-height: 5vw;
  }
  #page4-extended .left,
  #page4-extended .right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #page4-extended .right p {
    font-size: larger;
  }
  .child {
    height: 55vh;
    width: 50vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (min-width: 100px) and (max-width: 580px) {
  .child {
    height: 55vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
  }
  #nav-part2 #icons {
    flex-direction: column;
  }

  #links {
    display: none;
  }
}
